# from dotfiles

# TypeScript React
'.source.tsx':
  'Stateless Component':
    'prefix': 'xrsl'
    'body': '''
    import * as React from 'react';

    interface ${1:Component}Props {
      $2
    }

    const ${1:Component} = (props: ${1:Component}Props) => {
      return (
        <div>
          $3
        </div>
      )
    };

    export default ${1:Component};
    '''

# TypeScript and TypeScript React Only
'.source.tsx,.source.ts':
  'Import Default Local Module':
    'prefix': 'xidl'
    'body': '''import $1 from '${2:./}$1';'''

# JavaScript
'.source.tsx,.source.ts,.source.js,.source.jsx':
  'Console Log':
    'prefix': 'xc'
    'body': '''console.log('$1', $1);$0'''
