// from dotfiles
// COLOR THEME ENHANCEMENTS

// clean up font decoration
.theme-dracula-syntax {
  .syntax--storage.syntax--type {
    font-style: normal;
  }

  .syntax--entity.syntax--name.syntax--class {
    text-decoration: none;
  }

  .syntax--entity.syntax--other.syntax--inherited-class {
    font-style: normal;
    text-decoration: none;
  }

  .syntax--variable.syntax--parameter {
    font-style: normal;
  }

  .syntax--support.syntax--type, .syntax--support.syntax--class {
    font-style: normal;
  }
}

// STATUS BAR
.status-bar {
  // display: none;
  .line-ending-tile {
    display: none;
  }

  .encoding-status {
    display: none;
  }
}
