// from dotfiles
// COLOR THEME ENHANCEMENTS

.theme-solarized-dark-syntax {
  @solarized-red: #cb4b16;
  @solarized-orange: #b58900;
  @solarized-cyan: #0c7d9d;
  @solarized-blue: #268bd2;
  @solarized-blue-dark: #073642;

  .cursor-line {
    background: @solarized-blue-dark;
  }

  .gutter .line-number.cursor-line {
    background-color: inherit;
  }

  .syntax--variable {
    color: inherit;
  }

  .syntax--less {
    .syntax--variable {
      color: @solarized-blue;
    }
  }

  .syntax--keyword.syntax--control {
    &.syntax--import,
    &.syntax--from {
      color: @solarized-red;
    }
  }

  .syntax--entity {
    &.syntax--name {
      &.syntax--type {
        color: @solarized-orange;
      }
    }
  }

  atom-text-editor .gutter .line-number.git-line-modified {
    border-left: 2px solid @solarized-cyan;
  }
}

.theme-dracula-syntax {
  // too much blue... this disables variables colored blue.
  .syntax--variable {
    color: inherit;
  }

  // make git gutter indicator thinner
  atom-text-editor .gutter .line-number.git-line-added,
  atom-text-editor .gutter .line-number.git-line-modified {
    border-left-width: 2px;
  }

  .syntax--storage.syntax--type {
    font-style: normal;
  }

  .syntax--entity.syntax--name.syntax--class {
    text-decoration: none;
  }

  .syntax--entity.syntax--other.syntax--inherited-class {
    font-style: normal;
    text-decoration: none;
  }

  .syntax--variable.syntax--parameter {
    font-style: normal;
  }

  .syntax--support.syntax--type,
  .syntax--support.syntax--class {
    font-style: normal;
  }
}

// STATUS BAR
.status-bar {
  // display: none;
  .line-ending-tile {
    display: none;
  }

  .encoding-status {
    display: none;
  }
}
